
/* Officiële LBK-kleur voor de site: HEX #99CB4A oftewel RGB 153,203,74 */

/* Ervoor zorgen dat margin en padding inbegrepen zijn in de height en width van een element */
* {
box-sizing: border-box;
}

/* Voor heel de pagina */
body {
font-family: "Trebuchet MS", Helvetica, sans-serif;
min-height: 100vh;
margin: 0;
position: relative;
}

/* De banner - het logo en de slider */
#banner {
height: 130px;
width: 100%;
background: darkgreen; /* Fallback color indien de achtergrondafbeelding niet geladen kan worden */
padding: 20px;
background-image: url('images/banner_background.png')
}

#lbk-logo {
float: left;
position: relative;
top: 5px;
}

#sponsors {
float: right;
position: relative;
top: -5px;
}

#sponsors img {
margin: 0px 20px;
height: 100px;
}

#navbar-geheel {
padding: 5px 5px;
}

#navbar a {
padding: 10px 25px;
line-height: 16px;
/* transition: color 0.5s; */
/* transition: background-color 0.25s; */
color: lightgrey
}

#navbar a:hover, #navar a:active {
color: #99CB4A;
/* background-color: #99CB4A; */
}

#dropdown_werkgroepen div a {
color: rgb(64,64,64)
}

/* Opmaak voor de footer --PAS #px AAN--  */
@media  screen and (min-width: 821px) {#footer {
position: fixed;
background-color: rgb(200,200,200);
bottom: 0;
width: 100%;
color: white;
text-align: center;
}}
@media screen and (max-width: 820px) {#footer {
background-color: rgb(64, 64, 64);
bottom: 0;
width: 100%;
color: white;
text-align: center;
}}
/* Oude opmaak
#footer {
position: fixed;
bottom: 0;
width: 100%;
background-color: rgb(64, 64, 64);
color: white;
text-align: center;
} */


#footer a img {
margin-left: 20px;
margin-right: 20px;
}

/* Opmaak van de homepage */
#overview {
position: relative;
height: 1500px;
margin: auto;
}

.green {
background-color: rgb(147,193,104);
overflow: auto;
}

/* De div met de 3 kaders links*/
#personal {
float: left;
}

/* De opmaak voor de 3 kaders (per kader) */
#account, #calendar, #events {
background-color: rgb(147,193,104);
overflow: auto;
border-radius: 10px;
padding: 20px;
min-height: 200px;
}

#account-title {
background-color: rgb(179,225,136);
border-radius: 5px;
text-align: center;
}

#account a {
color: black;
}

#account .input-group-prepend span {
width: 40px;
background-color: green;
border: none;
color: white;
}

#account .input-group-prepend i {
color: white;
}

#account button {
background-color: green;
border: none;
border-radius: 5px;
padding: 10px 25px;
color: white;
transition: background-color 0.5s;
}

#account button:hover {
background-color: darkgreen;
}

.remember input
{
width: 20px;
height: 20px;
margin-right: 5px;
}

/* Opmaak voor het kader met de posts */

#post {
background-color: rgb(224, 224, 224);
border-radius: 10px;
padding: 20px;
min-height: 200px;
}

/* Opmaak van de register page
#register-container {
background-color: rgb(147,193,104);
max-width: 600px;
margin: auto;

margin-top: 20px;
border-radius: 10px;

padding: 10px 0;
}*/

/* Opmaak voor standaard tekstpagina's */
#pagetext {
background-color: white;
overflow: auto;
border-radius: 10px;
margin: 30px 5%;
padding: 20px;
min-height: 200px;
}

#pagetext a {
color: green;
}

/* Opmaak voor galabal pagina */
#gala-pagetext {
background-color: white;
overflow: auto;
border-radius: 10px;
margin: 30px 10%;
padding: 20px;
min-height: 200px;
}

#gala-pagetext a {
color: green;
}

#gala-subt {
font-size: 10;
}