
/* Officiële LBK-kleur voor de site: HEX #99CB4A oftewel RGB 153,203,74 */

/* Ervoor zorgen dat margin en padding inbegrepen zijn in de height en width van een element */
* {
box-sizing: border-box;
}

/* Voor heel de pagina */
body {
font-family: "Trebuchet MS", Helvetica, sans-serif;
min-height: 100vh;
margin: 0;
position: relative;
}

/* De banner - het logo en de slider */
#banner {
height: 120px;
width: 100%;
background: darkgreen; /* Fallback color indien de achtergrondafbeelding niet geladen kan worden */
padding: 20px;
background-image: url('images/banner_background.png')
}

#lbk-logo {
float: left;
}

#sponsors {
float: right;
position: relative;
top: -10px;
}

#sponsors img {
margin: 0px 20px;
height: 100px;
}

#navbar-geheel {
padding: 5px 5px;
}

#navbar a {
padding: 10px 25px;
line-height: 16px;
/* transition: color 0.5s; */
/* transition: background-color 0.25s; */
color: lightgrey
}

#navbar a:hover, #navbar a:active {
color: #99CB4A;
}

#navbar .dropdown .dropdown-item {
color: rgb(64,64,64);
height: 30px;
}

#navbar .dropdown .dropdown-item:hover {
color: #99CB4A;
}

#navbar .dropdown .dropdown-item:active {
color: #99CB4A;
background-color: rgb(230,230,230);
}

#nav-werkgroepen {
float: left;
width: 14%;
margin-right: 5px;
padding-top: 4px;
background-color: rgb(100,100,100);
opacity: 0.7;
/* overflow: auto; */
}

.werkgroep {
width: 95%;
height: 2.2vw;
}

.werkgroep .icoon {
width: 2.2vw;
padding-right: 4px;
}

.werkgroep img {
height: 2vw;
padding-left: 5px;
}

.werkgroep a {
width: 100%;
height: auto;
float: left;
color: #90D31D;
padding-left: 8px;
}

/* Opmaak voor de footer --PAS #px AAN--  */
@media  screen and (min-width: 821px) {#footer {
position: fixed;
background-color: rgb(200,200,200);
bottom: 0;
width: 100%;
color: white;
text-align: center;
}}
@media screen and (max-width: 820px) {#footer {
background-color: rgb(64, 64, 64);
bottom: 0;
width: 100%;
color: white;
text-align: center;
}}
/* Oude opmaak
#footer {
position: fixed;
bottom: 0;
width: 100%;
background-color: rgb(64, 64, 64);
color: white;
text-align: center;
} */

#logos {
margin-left: 35px;
margin-right: 35px;
display: flex;
justify-content: space-between;
}

#footer a img {
float: left;
height: 60px;
margin-left: auto;
margin-right: auto;
}

/* Opmaak van de homepage */
#overview {
position: relative;
height: auto;
min-height: 1000px;
margin: auto;
background-image: url('images/background_temp.png');
background-size: 350px;
}

/* De div met de 3 kaders links*/
#evenementen {
float: left;
padding: 0px;
width: 27%;
}

#hr-event {
border: 1px solid black;
margin: 8px 0px
}

.remove-margin {
margin-bottom: 0px
}

#berichten {
float: right;
padding: 0px 10px;
}

/* De opmaak voor de 3 kaders (per kader) */
#account, #calendar, #events {
background-color: #99CB4A;
overflow: auto;
border-radius: 10px;
padding: 20px;
min-height: 200px;
}

#account-title {
background-color: rgb(179,225,136);
border-radius: 5px;
text-align: center;
}

#account a {
color: black;
}

#account .input-group-prepend span {
width: 40px;
background-color: green;
border: none;
color: white;
}

#account .input-group-prepend i {
color: white;
}

#overview button {
background-color: green;
border: none;
border-radius: 5px;
padding: 10px 25px;
color: white;
transition: background-color 0.5s;
}

#overview button:hover {
background-color: darkgreen;
}

.remember input
{
width: 20px;
height: 20px;
margin-right: 5px;
}

/* Opmaak voor het kader met de posts */

#post {
background-color: rgb(200, 200, 200);
border-radius: 10px;
padding: 20px;
min-height: 200px;
}

/* Opmaak van de register page
#register-container {
background-color: rgb(147,193,104);
max-width: 600px;
margin: auto;

margin-top: 20px;
border-radius: 10px;

padding: 10px 0;
}*/

/* Opmaak voor standaard tekstpagina's */
#pagetext {
background-color: white;
overflow: auto;
border-radius: 10px;
margin: 30px 5%;
padding: 20px;
min-height: 200px;
}

#pagetext a {
color: green;
}

/* Opmaak voor galabal pagina */
#gala-pagetext {
background-color: white;
overflow: auto;
border-radius: 10px;
margin: 30px 10%;
padding: 20px;
min-height: 200px;
}

#gala-pagetext a {
color: green;
}

#gala-subt {
font-size: 10;
}