{% extends "main/pagetemplate.html" %}

{% load static %}

{% block title %}Bedrijven{% endblock %}

{% block content %}
<!-- overview -->
<div id="overview" class="green">
    <div id="pagetext">
        <h1>LBK for companies</h1>
        <hr>
        <p style="text-align:justify">The Student Association LBK represents all students of Bioscience-engineering of the KU Leuven. With
        more than one thousand members LBK offers their students not only recreational activities, but also
        assists them in the development of their future career. In doing so LBK creates the perfect environment
        for Bioscience Engineers to develop both personally and professionally. Bioscience Engineering is a very
        broad term. A Bioscience Engineer aims to apply technology to living systems as well as apply principles
        of nature to technology. This concept involves very diverse and extensive disciplines such as the chemical
        industry, food - and pharmaceutical industry, biomedical applications, biotechnology and genetics, earth
        management, agricultural innovation and economics, environmental technology, bio-informatics and
        other disciplines. All these different aspects are incorporated in our seven Majors: Biosystems, Cellularand Genetic Engineering, Catalytic technology, Land-use Planning and Management, Agricultural
        Engineering, Food Technology and Environmental Engineering. Because of this broad employability,
        extensive academic knowledge and the ability to provide analytical and problem-solving thinking, a
        Bioscience Engineer will always be an asset to your company!
        <br><br>
        Our students are eager to get to know you! Graduate students are actively looking for a quality job to
        start a rewarding career, and they aspire to work with leaders in the industry. LBK Corporate Relations is a
        communication medium widely used by our students to assist them in developing their future careers.
        Furthermore, many students are actively looking for an internship of four to six weeks during the summer
        between their third Bachelor and second Master year. In addition to providing you with opportunities for
        publicity, LBK Corporate Relations also offers your Company the option to recruit both graduate Bioscience
        Engineers and Bioscience Engineering students.</p>
    </div>
</div>
{% endblock %}