{% extends "main/pagetemplate.html" %}

{% load static %}

{% block title %}galabal{% endblock %}

{% block content %}
<!-- overview -->
<div id="overview" class="green">
    <div id="pagetext">
        <h1>Galerij</h1>
        <hr>
        <p><!-- Tekstje BR --></p>
    </div>
</div>

<!-- footer -->
<footer class="py-2" id="footer">
    <!--
    <div>
        <a href="https://www.total.be/nl">
            <img src="https://www.total.be/sites/all/themes/custom/business_theme/logo.png" alt="Total logo" title="Total Logo">
        </a>
        <a href="https://www.cargill.be/nl/home-nl">
            <img src="https://www.cargill.be/image/1432094128551/cargill-logo.png" alt="Cargill Logo" title="Cargill Logo">
        </a>
        <a href="https://www.alten.be/nl/">
            <img src="https://upload.wikimedia.org/wikipedia/en/e/e4/ALTEN_logo.svg" alt="Alten logo" title="Alten logo">
        </a>
    </div> -->
    <div class="d-block text-center">
        <small>&copy; lbk.be 2019</small>
    </div>
</footer>


</body>
</html