{% extends "main/pagetemplate.html" %}

{% load static %}

{% block title %}Vacatures{% endblock %}

{% block content %}
<!-- overview -->
    <div id="pagetext">
        <h1 class="p-2">Beschikbare vacatures</h1>
        <hr class="thinn">
        <div class="container">
            {% for vacancy in vacancies %}
            <div class="row">
                <div class="col-sm">
                    <div class="float-right p-2 vacature-img">
                        <img src="{{ vacancy.company_logo.url }}" alt="{{ vacancy.company_name }}">
                    </div>
                    <div class="d-block p-2 vacature-overzicht">
                        <h2>{{ vacancy.vacancy_function }}</h2>
                        <h4>{{ vacancy.company_name }}</h4>
                        <hr>
                        <p><a href="{{ vacancy.vacancy_url }}">Bekijk hier de volledige vacature</a></p>
                        <p>
                            <button class="btn1 vacature-knop" type="button" data-toggle="collapse" data-target="#vacancy{{ vacancy.id }}" aria-expanded="false" aria-controls="vacancy_desc">
                            Beschrijving weergeven <span class="caret"></span>
                            </button>
                        </p>
                        <div class="collapse vacature-collapse" id="vacancy{{ vacancy.id }}">
                            <div class="card card-body vacature-beschrijving">
                                {{ vacancy.vacancy_description|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="vacature-hr thinn">
            {% endfor %}
        </div>
    </div>
{% endblock %}