{% extends "main/pagetemplate.html" %}

{% load static %}

{% block title %}Contact{% endblock %}

{% block content %}
<!-- overview -->
<div id="overview" class="green">
    <div id="pagetext">
        <h1 class="p-2">Dagelijks bestuur</h1>
        <div class="container">
            {% for db_member in db_members %}
            <div class="row">
                <div class="col-sm">
                    <div class="float-left p-2">
                        <img src="{{ db_member.profile_picture.url }}" alt="{{ db_member.function }}" style="width: 160px; height: 200px;">
                    </div>
                    <div class="d-block float-left p-2">
                        <h2>{{ db_member.function }}</h2>
                        <hr>
                        <p>{{ db_member.first_name }} {{ db_member.last_name }}</p>
                        <p>{{ db_member.email }}</p>
                        <p>{{ db_member.phone_number }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}