{% extends "main/pagetemplate.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- Evenementenlijst-->
<div id="evenementen" class="d-none d-xl-block">
    <div id="account" class="m-3">
        <h3 class="remove-margin">Evenementen</h3>
        <hr id="hr-event">
        <p>Coming soon</p>
    </div>
</div>
<!-- Berichten -->
<div id="berichten" class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
        {% if posts %}
        {% for post in posts %}
        <div id="post" class="d-block my-3">
            <h2>{{ post.post_title }}</h2>
            <hr>
            <p>{{ post.post_text|safe }}</p>
        </div>
        {% endfor %}
        {% else %}
        <div id="nopost" class="d-block my-3">
            <h1>There are no posts yet.</h1>
        </div>
        {% endif %}
    </div>

{% endblock %}