{% extends "main/pagetemplate.html" %}

{% load static %}

{% block title %}NeuCom{% endblock %}

{% block content %}
<!-- overview -->
<div id="overview" class="green">
    <div id="pagetext">
        <h1>NeuCom</h1>
        <hr>
        <p><strong>Artikel 4 en 5 van het kiesreglement Landbouwkring VZW:</strong></p>
        <p>Artikel - 4    Bevoegdheden</p>
        <p>§1 De presidiumvergadering bezit conform  het LOKO-kiesreglement en het participatiereglement van de Stura KU Leuven de bevoegdheid verkiezingen te organiseren.
            Deze  bevoegdheid delegeert de presidiumvergadering aan het Neutraal Comité.</p>
        <p>§2 Het Neutraal Comité ziet, conform het LOKO- kiesreglement en het participatiereglement van de Stura KU Leuven,
            toe op de correcte  toepassing van dit reglement en op het eerlijk verloop van de verkiezingen.
            Het informeert kandidaten en oordeelt over klachten, sancties en fraudegevallen.</p>
        <p>Artikel - 5    Onpartijdigheid</p>
        <p>Leden van het Neutraal Comité dienen zich volledig onpartijdig op te stellen ten opzichte van alle verkiesbare kandidaten
            en mogen in geen geval hun voorkeur voor bepaalde kandidaten laten blijken.</p>
        <hr>
        <p>De leden van het NeuCom voor dit jaar zijn:</p>
        <p><a href="mailto:preses@lbk.be">Stijn Heineman</a></p>
        <p><a href="mailto:vice@lbk.be">Tom Jacobs</a></p>
        <p><a href="mailto:sport.verantwoordelijke@lbk.be">Katrijn Quaghebeur</a></p>
        <p><a href="mailto:onderwijs.secretaris@lbk.be">Joppe Feys</a></p>
        <p><a href="mailto:cursusdienst.verantwoordelijke@lbk.be">Simon Van Den Bergh</a></p>
        <p><a href="mailto:louisedalle69@gmail.com">Louise Dalle</a></p>
    </div>
</div>
{% endblock %}