{% extends "main/pagetemplate.html" %}

{% load static %}

{% block title %}Officiële documenten{% endblock %}

{% block content %}
<!-- overview -->
    <div id="pagetext">
        <h1>Officiële documenten</h1>
        <hr>
        <p>Hieronder kun je de verschillende officiële documenten van LBK vzw downloaden als pdf's.</p>
        <p><a href="media/docs/kiesreglement-lbk-vzw (versie 2017-2018).pdf" target="_blank">Kiesreglement</a></p>
        <p><a href="media/docs/Statuten(1).pdf" target="_blank">Statuten</a></p>
        <p><a href="media/docs/intern_reglement_lbk.pdf" target="_blank">Intern reglement</a></p>
    </div>
{% endblock %}